<!DOCTYPE html>
<html>

<head>
    <title>Mint, Login</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">

</head>

<body>
    <div class="box">
        <div class="title">
            Login
        </div>
        {{#if error}}
        <div class="error">
            <span class="material-icons-outlined">error</span>
            {{error}}
        </div>
        {{/if}}
        <form action="/panel/login" method="post">
            <div class="input-group">
                <input type="text" name="username" placeholder="Username" required>
                <label>Username</label>
            </div>
            <div class="input-group">
                <input type="password" name="password" placeholder="Password" required>
                <label>Password</label>
            </div>

            <button class="primary" type="submit">Login</button>
        </form>
    </div>

</body>

</html>